/* UTILITY
BREAKPOINT
NONE <576PX
MD >768PX
LG >992
XL >1200PX */

/* PALETTE COLORI */

:root{
    --black: rgb(31,31,31);
    --blue: rgba(58, 109, 231, 1);
    --light-grey: #BEBCBB;
    --dark-blue: #161C3B;
    --red: #CD3D0F;
    --lavish-white: #D9DADC;
    --esplora-button: rgb(217, 218, 220);
    --white:#fff;
}

/* MODIFICHE GENERALI */

body{
    font-family: 'Roboto', sans-serif;
}

#topbar{
    background-color: var(--black);
}

#bottom-bar{
    background-color: var(--lavish-white);
}

#nuove-uscite{
    background-color: var(--black);
}

#esplora{
    background-color: var(--light-grey);
}

#play-now{
    background-color: var(--dark-blue);
}

footer{
    background-color: var(--blue);
}

.contenitore-max{
    max-width: 95%;
    height: 100%;
    margin: 0 auto;
}

.container-medium{
    max-width: 70%;
    height: 100%;
    margin: 0 auto;
}

.debug{
    border: 1px solid yellow;
}

/* MODIFICHE BAR & Header */

.form-control{
    display: none;
}

#bottom-bar{
    position: sticky;
    top: 0;
    z-index: 500;
}

header{
    width: 100%;
}

#hero-top{
    height: 80vh;
    width: 100%;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center center;
}

.bg-red{
    background-color: var(--red);
    border: color var(--red);
}

#hero-top img{
    width: 25rem;
}

#hero-top .col-1-auto{
    position: absolute;
    left: 0;
    bottom: 30px;
}

#hero-bottom img{
    width: 100%;
}

/* MODIFICO SEZIONE CAROSELLO */

.contenitore-img-ps5 img{
    width: 100%;
}

.contenitore-carosello img{
    width: 100%;
}

.contenitore-carosello:hover{
    cursor: pointer;
    border-bottom: 2px solid var(--blue);
}

/* MODIFICO SEZIONE JUMBO MAIN */

#jumbo-main{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center center;
}

#jumbo-main img{
    width: 25rem;
}

#jumbo-main .col-1-auto{
    position: absolute;
    left: 0;
    bottom: 30px;
}


/* MODIFICO SEZIONE NUOVE USCITE */

#nuove-uscite img{
    width: 100%;
}

/* MODIFICO SEZIONE PRODOTTI */

#prodotti img{
    width: 100%;
}

/* MODIFICO SEZIONE ESPLORA */

#esplora img{
    width: 100%;
}

#esplora button{
    background-color: var(--esplora-button);
    border: var(--esplora-button);
}

.img-ps-plus{
    height: 100%;
}

/* MODIFICO SEZIONE SCONTI */

#sconti img{
    width: 100%;
}

/* MODIFICO SEZIONE PLAY NOW */

#play-now img{
    width: 100%;
}

#play-now button{
    background-color: var(--white);
    border: var(--white);
    color: var(--black);
}

/* MODIFICO SEZIONE SOCIAL */

#social img{
    width: 100%;
}

/* MODIFICO FOOTER */

footer{
    color: white;
}


